.container {
  width: 1140px;
  margin: 40px auto 116px;
}
.head {
  display: flex;
  justify-content: flex-end;
  &__button {
    outline: none;
    border: 0;
  }
}
.amount {
  margin-bottom: 60px;
  &__text {
    line-height: 21px;
    margin-bottom: 10px;
  }
  &__content {
    display: flex;
    flex-direction: row;
  }
  &__input {
    font-size: 24px;
    line-height: 28px;
    padding: 21px;
    background-color: #f3f5fa;
    outline: none;
    border: none;
    margin-right: 30px;
    width: 966px;
  }
}

.address {
  margin-bottom: 47px;
  &__text {
    line-height: 21px;
    margin-bottom: 4px;
  }
  &__input {
    font-size: 24px;
    line-height: 28px;
    padding: 21px;
    background-color: #f3f5fa;
    outline: none;
    border: none;
    margin-right: 30px;
    width: 100%;
  }
}
.ballance {
  margin-bottom: 47px;
  &__content {
    display: flex;
    flex-direction: row;
    margin-bottom: 39px;
  }
  &__text {
    line-height: 21px;
    margin-right: 25px;
  }
}

.approve {
  display: flex;
  &__btn {
    margin-right: 30px;
    outline: none;
    border: none;
  }
}
.text {
  line-height: 21px;
  margin-bottom: 10px;
}
.error {
  color: red;
}
